<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-secondary navbar-dark">
            <a href="index.html" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary">Company Name</h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="/pictures/<%= users[0].id %>.jpg" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0"><%= name %></h6>
                    <span><%= perms %></span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <a href="/admin" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                <a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Users edit</a>
                <a href="/users" class="nav-item nav-link active"><i class="fa fa-angry me-2"></i>Users</a>
                <a href="form.html" class="nav-item nav-link"><i class="fa fa-anchor me-2"></i>Tasks</a>
            </div>
        </nav>
        <div class="fixed-bottom m-3">
            <a href="/logout"><button type="button" class="btn btn-outline-primary m-2">Logout</button></a>
           </div>
        </div>



        <div class="content">
            <div class="container-fluid pt-4 px-4">
                <div class="col-sm-12 col-xl-20">
                    <div class="d-flex bg-secondary rounded h-100 p-4 justify-content-center">
                        <h6 class="mb-1 text-danger"><strong>Username: <%= users[0].username %><br /> Perrmisions: <%= users[0].admin === 1 ? 'Admin' : 'User' %></strong></h6>

                        
                    </div> 
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-4">
                      <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">Change username</h6>
                        <form method="POST" action="/users/<%= users[0].id %>/editor/name">
                          <div class="mb-3">
                            <input type="text" class="form-control" name="newName" placeholder="New username">
                          </div>
                          <button type="submit" class="btn btn-primary">Change</button>
                        </form>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-6 mb-4">
                      <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">Change password</h6>
                        <form method="POST" action="/users/<%= users[0].id %>/editor/password">
                          <div class="mb-3">
                            <input type="text" class="form-control" name="Newpassword" placeholder="New username">
                          </div>
                          <button type="submit" class="btn btn-primary">Change</button>
                        </form>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="bg-secondary rounded h-100 p-4">
                          <h6 class="mb-4">Change Permissions</h6>
                          <form method="POST" action="/users/<%= users[0].id %>/editor/NewPerms">
                            <div class="mb-3">
                              <select class="form-select" name="NewPerms">
                                <option value="User">User</option>
                                <option value="Admin">Admin</option>
                              </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Change</button>
                          </form>
                        </div>
                      </div>

                      <div class="col-sm-12 col-md-6">
                        <div class="bg-secondary rounded h-100 p-4">
                          <h6 class="mb-4">Moderation</h6>
                          <form method="POST" action="/users/<%= users[0].id %>/editor/delete">
                            <button type="submit" class="btn btn-primary">Delate User</button>
                          </form>
                        </div>
                      </div>
                  </div>
                </div>      
                
                <div class="container-fluid pt-4 px-4">
                    <div class="bg-secondary rounded-top p-4">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center text-sm-start">
                                &copy; <a href="#">Your Site Name</a>, All Right Reserved. 
                            </div>
                            <div class="col-12 col-sm-6 text-center text-sm-end">
                                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                                Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                                <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                            </div>
                        </div>
                    </div>
                </div>
             </div>






</body>
</html>