<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-secondary navbar-dark">
            <a href="index.html" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary">Company Name</h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="/pictures/<%= users[0].id %>.png" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0"><%= name %></h6>
                    <span><%= perms %></span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <a href="/admin" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                <a href="/users" class="nav-item nav-link active"><i class="fa fa-angry me-2"></i>Users</a>
                <a href="/tasks" class="nav-item nav-link"><i class="fa fa-anchor me-2"></i>Tasks</a>
            </div>
        </nav>
        <div class="fixed-bottom m-3">
            <a href="/logout"><button type="button" class="btn btn-outline-primary m-2">Logout</button></a>
           </div>
        </div>



        <div class="content">
            <div class="container-fluid pt-4 px-4">
                <div class="row">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Users</h6>
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">User</th>
                                        <th scope="col">Permissions</th>
                                        <th scope="col">Use</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% users.forEach(user => { %>
                                        <tr>
                                            <td><%= user.id %></td>
                                            <td><%= user.username %></td>
                                            <td> <%= user.admin === 1 ? 'Admin' : 'User' %></td>
                                            <td><a href="/users/<%= user.id %>/editor"><button type="button" class="btn btn-outline-primary btn-sm">Edit</button></a></td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
        
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Add new user</h6>
                            <form method="POST" action="/users" enctype="multipart/form-data">
                                <div class="mb-3">
                                  <label class="form-label">Username</label>
                                  <input type="text" class="form-control" name="username" required>
                                </div>
                                <div class="mb-3">
                                  <label class="form-label">Password</label>
                                  <input type="password" class="form-control" name="password" required>
                                </div>
                                <div class="mb-3">
                                  <label class="form-label">Profile Picture</label>
                                  <input class="form-control bg-dark" type="file" name="picture">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary">Add</button>
                              </form>
                              
                            <br>
                            <span>New user will have permissions set to default user, if you want to change permissions go to editor</span>
                        </div>
                    </div>
                </div>                    
             </div>

    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary rounded-top p-4">
            <div class="row">
                <div class="col-12 col-sm-6 text-center text-sm-start">
                    &copy; <a href="#">Your Site Name</a>, All Right Reserved. 
                </div>
                <div class="col-12 col-sm-6 text-center text-sm-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                    <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>